target/
!.mvn/wrapper/maven-wrapper.jar
dist/**/*


## conflictive files ##
*.orig

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
.idea/*
.idea/**
*.iws
*.iml
*.ipr